.step_title {
    font-size: 24px;
    margin: 40px 0 20px;
    font-weight: 500;
}

.page_container {
    padding-bottom: 30px;
}

.step_details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.step_detail {
    width: 100%;
}

.step_detail_header {
    color: forestgreen;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.step_img {
    width: 100%;
}

.step_desc {
    font-size: 16px;
    word-break: keep-all;
    text-align: center;
    margin-bottom: 10px;
}

.green {
    color: forestgreen;
    font-weight: bold;
}

.gif_wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
