.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 430px;
    flex: 1;
    background-color: #f2f2f2;
}

.main_hero_container {
    width: 100%;
}

.main_items {
    width: 90%;
    margin: 0 auto;
}

.main_item {
    margin: 30px 0;
}

.main_item_title {
    font-size: 16px;
    color: grey;
    margin-bottom: 10px;
}

.main_register {
    padding: 20px 0;
    background-color: #273469;
}

.main_register_title {
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.main_register_subtitle {
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0 15px;
}

.musinsa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.musinsa_icon_wrapper {
    width: 100px;
}

.musinsa_icon {
    width: 100%;
}

.musinsa_desc {
    color: white;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    word-break: keep-all;
}

.register_btn_wrapper {
    display: flex;
    justify-content: center;
}

.register_btn {
    border: solid 1px white;
    font-size: 14px;
    color: white;
    padding: 6px 18px;
    margin-top: 5px;
    cursor: pointer;
}
