.navbar_container {
    height: 50px;
    background-color: #273469;
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 430px;
    position: sticky;
    top: 0;
    margin: 0 auto;
    z-index: 1000;
}

.navbar_main {
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.menu_container {
    width: 24px;
    position: absolute;
    left: 10px;
}

.drawer_container {
    width: 100%;
    max-width: 430px;
    position: relative;
}

.drawer_menu_container {
    margin: 50px 0 0 30px;
}

.drawer_title {
    font-size: 22px;
    color: #273469;
    margin-bottom: 30px;
    font-weight: 500;
    cursor: pointer;
}

.drawer_menu_wrapper {
    margin-bottom: 10px;
}

.drawer_menu {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    cursor: pointer;
}

.drawer_menu:hover {
    color: black;
}

.cart_container {
    width: 430px;
}
