.search_wrapper {
    padding-top: 10px;
}

.search_total {
    font-size: 14px;
    color: grey;
    margin-top: 20px;
}

.search_none {
    margin-top: 30px;
    /* margin-top: 10px; */
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_none_text {
    font-size: 13px;
    color: grey;
    margin-top: 20px;
}
