.category_menu_container {
    width: 100%;
    background-color: white;
}

.category_menus {
    display: flex;
    width: 90%;
    margin-left: 2%;
    height: 40px;
    align-items: center;
}

.category {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.indicator {
    content: "";
    background-color: lightseagreen;
    left: 10px;
    width: 60%;
    bottom: 0;
    height: 2px;
    margin: 0 auto;
    position: absolute;
}
